<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red accent-2">

  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" [routerLink]="'/'">DigitalSamay</a>
  </logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link waves-light" [routerLink]="'/home'" mdbWavesEffect>Home
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/benefits'" mdbWavesEffect>Benefits</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/product/website'" mdbWavesEffect>Products</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/faq'" mdbWavesEffect>FAQ</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/about'" mdbWavesEffect>About</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/contact-us'" mdbWavesEffect>Contact Us</a>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->