<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark red accent-2">

  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" [routerLink]="'/'">Mappy</a>
  </logo>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link waves-light" [routerLink]="'/home'" mdbWavesEffect>Home
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/benefits'" mdbWavesEffect>Benefits</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Products
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Website</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Domain</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">SSLC</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Business Email</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Digital Marketing</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">360 Virtual Tour</a>
        </div>
      </li>
      <!-- /Dropdown -->

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/faq'" mdbWavesEffect>FAQ</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link waves-light" [routerLink]="'/about'" mdbWavesEffect>About</a>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->