<div class="container-fluid" style="margin-bottom: 50px;margin-top: 50px;">
  <h2>Digital Marketing</h2>
  <hr>
  <br>

<div class="row">

  <div class="col-sm-12">
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark teal lighten-2" [containerInside]="false">

      <!-- Collapsible content -->
      <links>

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
              <li class="nav-item" routerLinkActive="active" >
                  <a class="nav-link waves-light" [routerLink]="'/product/digital-marketing/seo-sem'" mdbWavesEffect>SEO/ SEM</a>
              </li>
              <li class="nav-item" routerLinkActive="active" >
                  <a class="nav-link waves-light" [routerLink]="'/product/digital-marketing/smo-smm'" mdbWavesEffect>SMO/ SMM</a>
              </li>
              <li class="nav-item" routerLinkActive="active" >
                  <a class="nav-link waves-light" [routerLink]="'/product/digital-marketing/email-marketing'" mdbWavesEffect>Email Marketing</a>
              </li>
              <li class="nav-item" routerLinkActive="active" >
                  <a class="nav-link waves-light" [routerLink]="'/product/digital-marketing/pc-marketing'" mdbWavesEffect>PC Marketing</a>
              </li>
              <li class="nav-item" routerLinkActive="active" >
                  <a class="nav-link waves-light" [routerLink]="'/product/digital-marketing/brand-management'" mdbWavesEffect>Brand Management</a>
              </li>
              <li class="nav-item" routerLinkActive="active" >
                  <a class="nav-link waves-light" [routerLink]="'/product/digital-marketing/repulsion-management'" mdbWavesEffect>Online Repulsion Management</a>
              </li>
              <li class="nav-item" routerLinkActive="active" >
                  <a class="nav-link waves-light" [routerLink]="'/product/digital-marketing/content-marketing'" mdbWavesEffect>Content Marketing</a>
              </li>

          </ul>
          <!-- Links -->
          <!-- Search form -->
          
      </links>
      <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->
  </div>
</div>
<router-outlet></router-outlet>
</div>
