<div style="min-height: 93vh;">
  <!-- FAQ's -->
  <div>
    <img src="http://www.attitudeperformance.com/files/faqs-background.jpg" 
    class="img-fluid"
    style="height: 40vh;width:100%;box-shadow: 0 4px 8px rgb(0,0,0,0.2)"
    alt="">
  </div>

  <div class="container" style="margin-top: 20px;margin-bottom: 50px;">

    <div style="margin-top: 50px;">
      <h2>
      <i class="fa fa-hand-o-right" aria-hidden="true"></i> Nibh sit amet commodo nulla facilisi nullam? </h2>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum a arcu cursus vitae congue mauris.</p>
    </div>

    <div style="margin-top: 50px;">
      <h2>
      <i class="fa fa-hand-o-right" aria-hidden="true"></i> Nibh sit amet commodo nulla facilisi nullam? </h2>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum a arcu cursus vitae congue mauris.</p>
    </div>

    <div style="margin-top: 50px;">
      <h2>
      <i class="fa fa-hand-o-right" aria-hidden="true"></i> Nibh sit amet commodo nulla facilisi nullam? </h2>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum a arcu cursus vitae congue mauris.</p>
    </div>

    <div style="margin-top: 50px;">
      <h2>
      <i class="fa fa-hand-o-right" aria-hidden="true"></i> Nibh sit amet commodo nulla facilisi nullam? </h2>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum a arcu cursus vitae congue mauris.</p>
    </div>

    <div style="margin-top: 50px;">
      <h2>
      <i class="fa fa-hand-o-right" aria-hidden="true"></i> Nibh sit amet commodo nulla facilisi nullam? </h2>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum a arcu cursus vitae congue mauris.</p>
    </div>

    <div style="margin-top: 50px;">
      <h2>
      <i class="fa fa-hand-o-right" aria-hidden="true"></i> Nibh sit amet commodo nulla facilisi nullam? </h2>
      <br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum a arcu cursus vitae congue mauris.</p>
    </div>

  </div>

</div>
